html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("../images/white-waves/white-waves.png");
    margin-bottom: 7em;
}

.index-wrapper .container {
  background-color: #fff;
  border: 1px solid #ddd;
}

.contact-wrapper .container {
  background-color: #fff;
  border: 1px solid #ddd;
}

.portfolio-wrapper .container {
  background-color: #fff;
  border: 1px solid #ddd;
}

.navbar {
  background-color: #4aaaa5;
  border: 1px solid #ccc;
  height: 6em;
}

.navbar h2 {
  color: #fff;
  background-color: #4aaaa5;
  height: 3.25em;
}

.index-wrapper img {
  margin-right: 20px;
  float: left;
}

.header {
  color: #4aaaa5;
}

.tile a {
  text-decoration: none;
  color: #4aaaa5;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  background-color: #666666;
  height: 4em;
  border-top: 10px solid #4aaaa5;
}
