html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("../images/white-waves/white-waves.png");
    margin-bottom: 3em;
}

.index-wrapper .container {
  margin-top: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.navbar {
  background-color: #4aaaa5;
  border: 1px solid #ccc;
  height: 6em;
}

.navbar-brand {
  color: #fff;
  background-color: #4aaaa5;
  height: 5em;
}

.index-wrapper img {
  margin-right: 20px;
  float: left;
}

.header {
  color: #4aaaa5;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  background-color: #666666;
  height: 4em;
  border-top: 10px solid #4aaaa5;
}
